!README.md

# files
job_overview_and_exp_costs.xlsx
*-lock.json
*yarn.lock
*README.html
*.DS_Store
*.py[co]
*packaged.yml

# folders
s3/
sam/
*node_modules/
*build/
*.idea/
*.pytest_cache/
*__pycache__